* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 250, 255);
}

.container {
    border: 20px solid rgb(162, 224, 255);
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);

}

.next-container {
    display: flex;
}

.message{
    padding: 10px;
}

.name{
    padding-left: 150px;
    padding-top: 30px;
}

.black-line {
    border-top: 1px solid black;
    margin-top: 7px;
    margin-left: 70px;
    width: 70%;
}

.slide {
    display: flex;
}


.btn {
    margin-top: 20px;
    margin-left: 70px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.btn.prev {
    left: 20px;

}

.btn.next {
    right: 50px;
}

.btn:hover {
    opacity: 1;
}
